/* Images ------------------------------------------*/
.profile-picture {
    background-image: url(images/MVIMG_20180526_152124_2\ \(2\).jpg);
    background-position: center;
    background-size: cover;
}


/* Text --------------------------------------------*/

.business-card {
    min-height: 170px;
}

.my-name {
    font-size: 30px;
    margin-bottom: 0px;
}

ul {
    padding-inline-start: 16px;
}

.default-font{
    font-family: Calibri;
}

a:link {
    color: white;
    text-decoration: none;
  }
a:visited {
    color: white;
    text-decoration: none;
  }
a:hover {
    color: white;
    text-decoration: underline;
  }
a:active {
    color: white;
    text-decoration: none;
  }

hr.white-line {
    border-top: 1px solid white;
}

h1, h2, h3, h4, h5 {
    padding-top: 20px;
}

.xs-links {
    font-size: 35px;
    text-align: center;
}

/* Shapes ------------------------------------------*/

.personal-info {
    background-color: #393e51;
    color: floralwhite;
}

/* Media queries -----------------------------------*/

@media only screen and (max-width: 890px) {
    .my-name {
      font-size: 20px !important;
    }
  }